
.logo{
    /* height: 63px ; */
    padding-top: 20px;
    background-color: #ffffff;
}
.s_logo{
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.s_logo .text{
    width: 163px;
    height: 28px;
    background-color:#cccccc;
    padding-left: 3px;
    float:left;
  
}
.s_logo .search{
    height: 28px;
    width: 31px;
    background-color:#cccc;
    float: left;
    background-image: url('./img/search2.jpg'); 
}
.sch{
    height: 55px;
    border-top:1px solid #ccc;
    background: url('./img/nav_bg-line.png');
  
}
.sch ul li{
    line-height: 55px;
    background: url('./img/nav_bg-line.png') no-repeat right;
}
.sch ul a{
    display: block;
    height: 55px;
    padding: 0 32px;
    color: black;  
    font-weight: 700px;
}
.top{
    margin-top: 15px;
}
.yuan{
    width: 11px;
    height: 11px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #ccd1d9;
    margin-right: 11px;
    margin-left: 474px;


}
.sub_yuan{
    width: 11px;
    height: 11px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #656d78;
   
   
}
.box{
    height: 30px;
    background-color: #fbfbfb;
    border-top:1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-top: 30px;
}
.box .notice{
    color: #000000;
    line-height: 30px;
    font-size: 13px;

}
.box .s_notice{
    margin-top: 6px;
    margin-right: 8px;
 
}
.box_two{
    margin-top: 15px;
}
.box_two .issue_one{
    width: 310px;
    height: 223px;
    border: 1px solid #e4e4e4;
    margin-right: 12px;
}
.box_two .issue_two{
    width: 373px;
    height: 223px;
    border: 1px solid #e4e4e4;
    /* margin-left: 6px; */
    margin-right: 12px;
    

}
.box_two .issue_three{
    width: 264px;
    height: 223px;
    border: 1px solid #e4e4e4;
    /* margin-left: 12px; */


}
.issue_one .title{
    height: 30px;
    background: url(./img/o.jpg) no-repeat;
    margin-top: 13px;
    margin-left: 6px;

}
.issue_one .title h3{
    margin-left: 28px;
    margin-top: 16px;
    color: #7ab800;
}
.issue_one .tu_one{
    height: 143px;
    background: url('./img/home_hot_01.png') no-repeat center;
}
.issue_two .title_q{
    height: 30px;
    background: url(./img/o.jpg) no-repeat;
    margin-top: 13px;
    margin-left: 6px;

}
.issue_two .title_q h3{
    margin-left: 28px;
    /* margin-top: 16px; */
    color: #7ab800;
}
.title_q .gg{
    padding-right: 12px;
    color: #666666;   
}
.liebiao{
    /* height: 162px; */
    margin-left: 24px;
}
.liebiao li{
    height: 29px;
    border-bottom: 1px dashed #ccc;
    line-height: 29px;
    font-size: 12px;
}
/* 问题与支持 */
.wenti{
    height: 30px;
    background: url('./img/o.jpg') no-repeat;
    margin-left: 8px;
    margin-top: 15px;
}
.wenti h3{
    margin-left: 30px;
    color: #7ab82a;
}

.liebiao_two li{
    height: 30px;
    padding-left: 40px;
    line-height: 30px;
    font-size: 12px;

}
.liebiao_two li a{
    border-left: 3px solid #98cb00;
    padding-left: 6px;
}
.text_l{
    margin-left: 34px;
    font-size: 12px;
}
.footer{
    height: 220px;
    background-color: #2d2d2d;
    margin-top:52px;
    border-bottom: 1px dashed #414141; 
    /* background: url('./img/index_161-175.gif') no-repeat right; */
}
.custom dl{
    margin-left: 20px;
    margin-top: 8px;
    
}
.custom dt{
    color: #c7c7c7;
    margin-bottom: 20px;
  

}
.custom dd{
    font-size: 14px;
    height: 20px;

}
.footer_l{
    height: 83px;
    background-color: #2d2d2d;
} 
.footer_l div{
    text-align: center;
    color: #1e0f07;
    /* line-height: 23px; */
    font-size: 14px;
    padding-top: 5px;
}
.footer_l .img_t{
    margin-top: 6px;
}

